.time_display{
    font-size: 50px;
    font-weight: bold;
}

.modify_timer_button{
    color: white;
    background-color: rgb(7, 108, 148);
    height: 30px;
    width: 100px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition-duration: 0.15s;
}

.modify_timer_button:hover{
    background-color: rgb(0, 102, 255);
}

.modify_timer_button:active{
    background-color: rgb(20, 46, 194);
}

.time_input_holder{
    display:flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    margin: auto;
}