.flashcard_holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titles_flashcards{
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 100px;
  gap: 100px;
  margin-top: 25px;
  align-items: center;
  flex: 1;
}

.decks_flashcards{
  min-height: 500px;
  flex: 5;
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.deck{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100px;
  max-height: 300px;
  color: black;
  flex: 1;
  min-width: 300px;
  border: none;
  padding-top: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 7px 7px 5px rgb(196, 196, 196);
  transition-duration: 0.15s;
  cursor: pointer;
  text-decoration: none;
}

.deck:hover{
  background-color: rgb(240, 240, 240);
}

.deck:active{
  box-shadow: none;
  transform: translate(10px, 10px);
  background-color: rgb(180, 180, 180);
}


.view_stats_flashcards{
  max-height: 100px;
  flex: 1;
}

.welcome_flashcards{
  border-style: solid;
  background-color: rgb(0, 179, 255);
  padding: 10px;
}

.create_deck{
  height: 50px;
  width: 200px;
  font-size: 20px;
  background-color: rgb(38, 255, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.15s;
}

.create_deck:hover{
  background-color: rgb(23, 179, 23);
  color: white;
}

.create_deck:active{
  background-color: rgb(9, 83, 23);
}

.view_stats_flashcards{
  flex: 1;
  min-height: 50px;
  margin-top: 25px;
  align-items: center;
}

.stat_flashcard_button{
  width: 400px;
  height: 50px;
  border: none;
  background-color: rgb(248, 151, 151);
  cursor: pointer;
  border-radius: 5px;
  transition-duration: 0.15s;
  font-size: 25px;
}

.stat_flashcard_button:hover{
  background-color: red;
  color: white;
}

.stat_flashcard_button:active{
  background-color: rgb(122, 6, 6);
}

.flashcard_title{
  flex: 1;
  color: black;
  min-height: 25px;
  border-bottom: dashed;
}

.flashcard_description{
  flex: 5;
  color: black;
  margin-top: 25px;
  min-height: 100px;
}

.flashcards_holder{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
}

.flashcard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 200px;
  max-width: 300px;
  min-height: 200px;
  color: black;
  flex: 1;
  border: none;
  padding-top: 15px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 7px 7px 5px rgb(196, 196, 196);
  transition-duration: 0.15s;
  cursor: pointer;
}

.flashcard_front > div{
  color: black;
}

.flashcard_back > div{
  color: black;
}

.edit_deck{
  width: 100%;
  border-radius: 5px;
  background-color: rgb(240, 149, 149);
  transition-duration: 0.15s;
  border: none;
  cursor: pointer;
}
.edit_deck:hover{
  background-color: red;
  color: white;
}
.edit_deck:active{
  background-color: rgb(172, 2, 2);
}


.flashcard_front, .flashcard_back{
  flex: 1;
  align-items: center;
  justify-content: center;
  color: black;
  word-break: break-all;
  padding: 0.5em;
}

.flashcard_front{
  border-bottom: solid;
}

.flashcard:hover{
  background-color: rgb(240, 240, 240);
}

.flashcard:active{
  box-shadow: none;
  transform: translate(10px, 10px);
  background-color: rgb(180, 180, 180);
}

.deck_holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.current_deck{
  width: 400px;
  height: 300px;
  position: relative;
  text-align: center;
  perspective: 1000px;
}

.flashcard_animated{
  height: 100%;
  width: 100%;
  transition: transform .75s;
  transform-style: preserve-3d;
}

.flashcard_animated_front, .flashcard_animated_back{
  height: 100%;
  width: 100%;
  position: absolute;

  justify-content: center;
  color: black;
  border: none;
  background-color: white;
  border-radius: 15px;
  box-shadow: 7px 7px 5px rgb(196, 196, 196);
  cursor: pointer;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.flashcard_animated.flipped{
  transform: rotateY(180deg) rotateZ(180deg);
}

.flashcard_animated_back{
  transform: rotateY(180deg) rotateZ(180deg);
}

.traverse_deck{
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.interact_deck{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.flashcard.delete_card_background{
  background-color: rgb(226, 40, 40);
  box-shadow: 7px 7px 5px rgb(238, 115, 115);
}

.options_holder{
  display: flex;
  flex-direction: column; 
  align-items: center;
  min-width: 500px;
  align-items: center;
  justify-content: center;
}

.instructions{
  flex: 1;
}

.type_of_test_holder{
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 25px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.type_of_test{
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.test_holder{
  border-style: solid;
  padding: 1em;
  margin-left: 10px;
  margin-right: 10px;
}

.test_item, .checkbox_label_holder{
  display: flex;
  flex-direction: row;
  gap: 50px;
  font-size: 16px;
  align-items: center;
  margin-top: 10px;
}
.prompt_to_test{
  word-break: break-all;
  flex: 3;
}
.text_enter_field{
  word-break: break-all;
  flex: 5;
  min-height: 50px;
}

.right_wrong_holder, .check_text_holder{
  flex: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.checkbox_label_holder{
  visibility: hidden;
}

.checkbox_label_holder.unhide{
  visibility: visible;
}

.correct_button, .incorrect_button, .checkbox_label{
  flex: 1;
}

.placeholder{
  flex: 8;
}