.stats_holder{
  display: flex;
  flex-direction: column;
  border-style: solid;
  padding: 1em;
  width: 65%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: white;
  gap: 10px;
}

.label_for_stats{
  font-weight: bold;
}

.statistic{
  padding: 0.4em;
  background-color: rgb(185, 234, 250);
}

.statistic:hover{
  background-color: rgb(215, 242, 253);
}