body {
  font-family: Roboto, Arial;
  font-size: 24px;
  background-color: rgb(36, 35, 35);
  margin: 0 auto;
  padding: 0 auto;
}
div {
  text-align: center;
  color: white;
}
img {
  height: 45px;
  width: 45px;
}
ul {
  display: table;
  margin: 0 auto;
  text-align: left;
}

.timer{
  background-color: white;
  font-size: 20px;
  flex: 1;
}
.header-link {
  flex: 1;
  padding: 1em;
  font-size: 16px;
  color: black;
  cursor: pointer;
  background-color: lightgray;
  border: solid;
  border-width: 1px;
  border-color: rgb(141, 139, 139);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-link-cont {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  max-width: 600px;
  padding-right: 20px;
  min-width: 400px;
}

.website {
  display: flex;
  flex-direction: row;
  flex: 2;
}
.sidebar {
  display: flex;
  flex-direction: column;
  color: black;
  flex: 1;
  min-width: 150px;
  max-width: 200px;
  background-color: white;
  padding: 1em;
}
.content {
  min-height: 800px;
  flex: 5;
}
.big-div{
    display: grid;
    grid-template-rows: 1fr 7fr 1fr;
}
.boxes {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}
.box {
  min-height: 100%;
  flex: 1;
  max-width: 250px;
  color: black;
  padding: 1em;
  border-style: solid;
  background-color: white;
  border-color: rgb(201, 197, 197);
  border-radius: 5px;
  margin-right: 20px;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: gray;
  padding: 1em;
  height: 50px;
}

footer {
  display: block;
  padding: 1em;
  flex-direction: column;
  background-color: black;
}

.icons {
  margin-top: auto;
  height: 20px;
}
.go-button {
  width: 100px;
  height: 30px;
  border: none;
  background-color: rgb(39, 245, 159);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition-duration: 0.15s;
}
.go-button:hover {
  background-color: rgb(11, 59, 39);
  color: white;
}
.go-button:active {
  background-color: rgb(141, 225, 247);
  color: black;
}

.welcome {
  flex: 1;
  font-weight: bold;
  font-size: 28px;
}

.hamburger {
  flex: 1;
}
