.todolist_holder{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1px;
}

.todo_item{
  flex: 1;
  width: 500px;
  min-height: 45px;
  padding: 5px;
  border-style: solid;
  border-color: gray;
  border-width: 1px;
  background-color: white;
  color: black;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  transition-duration: 0.1s;
}

.delete_button, .check_button{
  height: 100%;
  color: black;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.delete_button{
  visibility: hidden;
  background-image: url("../images/delete.png"); 
}

.check_button{
  visibility: visible;
  background-image: url("../images/check_blank.png");
}

.todo_text{
  width: 400px;
  text-wrap: wrap;
  overflow-wrap: break-word;
  word-break: break-all;
  color: black;
}

.todo_text.checked{
  text-decoration: line-through;
}

.check_button.checked{
  background-image: url("../images/check_filled.png");
}

.todo_item:hover .delete_button{
  visibility: visible;
}